# network things
ListenAddress 0.0.0.0
Port 30022
Protocol 2

# stay alive for 30 minutes
TCPKeepAlive yes
ClientAliveInterval 300
ClientAliveCountMax 6

# misc
PrintMotd yes
PrintLastLog yes
Banner /etc/issue.net
AcceptEnv LANG LC_*

# key types allowed
HostKey /etc/ssh/ssh_host_ed25519_key

# hardening
AuthenticationMethods publickey
AuthorizedKeysFile /var/ssh/%u/authorized_keys
ChallengeResponseAuthentication no
HostbasedAuthentication no
LoginGraceTime 10
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PubkeyAuthentication yes
StrictModes yes
UsePAM no

# Logging
SyslogFacility AUTH
LogLevel INFO

# disable X forwarding
X11Forwarding no

Subsystem sftp /usr/lib/openssh/sftp-server
